kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: Intern
  namespace: dev
rules:
# TODO:
# target pods with verbs get, watch, list
  - apiGroups: [""]
    resources: ["pods", "deployments"]
    verbs: ["get", "watch", "list"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: InternBinding
  namespace: dev
subjects:
# TODO: add Jules as target user
# note: this is case sensitive
  - kind: User 
    name: Jules
roleRef:
# TODO: add target role to Intern
  kind: Role
  name: Intern
  apiGroup: rbac.authorization.k8s.io