name: Calico
on:
  push:
    branches:
      - "calico-**"

jobs:
  scavenger:
    name: Calico Networking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Start minikube
        uses: medyagh/setup-minikube@master
        id: minikube
        with:
          driver: docker
          memory: 2048
          network-plugin: cni
          cni: calico

      - name: Setup
        run: |
          cd ./calico
          bash setup.sh

      - name: Check Namespace A Network Policies
        run: |
          pwd
          kubectl apply -f network-policy-namespace-a.yml
          
          POD_B_PORT=80
          POD_C_PORT=5432
          POD_B_IP=`kubectl get pod --all_namespaces -o wide | grep namespace-b | grep -E -o  '([0-9]{1,3}\.){3}[0-9]{1,3}'`
          POD_C_IP=`kubectl get pod --all_namespaces -o wide | grep namespace-c | grep -E -o  '([0-9]{1,3}\.){3}[0-9]{1,3}'`

          CONNECT_TO_B =`kubectl exec nginx -n namespace-a -- timeout 5s curl $POD_B_IP:$POD_B_PORT &>/dev/null; echo $?`
          if [ "$CONNECT_TO_B" == "0" ]; then
            echo "✅ Can ping pods in namespace-b"
          else
            echo "❌ Cannot ping pods in namespace-b"
          fi

          CONNECT_TO_C =`kubectl exec nginx -n namespace-a -- apt update && sudo apt install curl -y && timeout 5s curl $POD_C_IP:$POD_C_PORT &>/dev/null; echo $?`
          if [ "$CONNECT_TO_C" == "52" ]; then
            echo "✅ Can ping pods in namespace-c"
          else
            echo "❌ Cannot ping pods in namespace-c"
          fi

      - name: Check Namespace B Network Policies
        run: |
          kubectl apply -f network-policy-namespace-b.yml

          POD_A_PORT=80
          POD_C_PORT=5432
          POD_A_IP=`kubectl get pod --all_namespaces -o wide | grep namespace-a | grep -E -o  '([0-9]{1,3}\.){3}[0-9]{1,3}'`
          POD_C_IP=`kubectl get pod --all_namespaces -o wide | grep namespace-c | grep -E -o  '([0-9]{1,3}\.){3}[0-9]{1,3}'`

          CONNECT_TO_A =`kubectl exec nginx -n namespace-b -- timeout 5s curl $POD_A_IP:$POD_A_PORT &>/dev/null; echo $?`
          if [ "$CONNECT_TO_A" == "0" ]; then
            echo "✅ Can ping pods in namespace-a"
          else
            echo "❌ Cannot ping pods in namespace-a"
          fi

          CONNECT_TO_C =`kubectl exec nginx -n namespace-b -- apt update && sudo apt install curl -y && timeout 5s curl $POD_C_IP:$POD_C_PORT &>/dev/null; echo $?`
          if [ "$CONNECT_TO_C" != "52" ]; then
            echo "✅ Cannot ping pods in namespace-c"
          else
            echo "❌ Can ping pods in namespace-c"
          fi

      - name: Check Namespace C Network Policies
        run: |
          kubectl apply -f network-policy-namespace-c.yml

          POD_PORT=80
          POD_A_IP=`kubectl get pod --all_namespaces -o wide | grep namespace-a | grep -E -o  '([0-9]{1,3}\.){3}[0-9]{1,3}'`
          POD_B_IP=`kubectl get pod --all_namespaces -o wide | grep namespace-b | grep -E -o  '([0-9]{1,3}\.){3}[0-9]{1,3}'`

          CONNECT_TO_A =`kubectl exec postgres -n namespace-c -- timeout 5s curl $POD_A_IP:$POD_PORT &>/dev/null; echo $?`
          if [ "$CONNECT_TO_A" == "1" ]; then
            echo "✅ Cannot ping pods in namespace-a"
          else
            echo "❌ Can ping pods in namespace-a"
          fi

          CONNECT_TO_B =`kubectl exec postgres -n namespace-c -- timeout 5s curl $POD_B_IP:$POD_PORT &>/dev/null; echo $?`
          if [ "$CONNECT_TO_B" == "1" ]; then
            echo "✅ Cannot ping pods in namespace-b"
          else
            echo "❌ Can ping pods in namespace-b"
          fi